<div class="page-container">
  <div class="content">
    <h2 class="page-title">INSIRA O VALOR</h2>
    <div class="value-display" [innerHTML]="formattedValue"></div>
    <div class="input-container">
      <input pInputText id="value" type="number" [(ngModel)]="value" (input)="updateValue()" autocomplete="off" />
    </div>
    <div class="button-group">
      <ng-container *ngIf="!isLoading; else loadingTemplate">
        <p-button label="Salvar" icon="pi pi-check" (onClick)="saveTransaction()" class="save-button" size="large"></p-button>
      </ng-container>
      <ng-template #loadingTemplate>
        <p-button label="Salvar" icon="pi pi-spin pi-spinner" class="save-button" size="large" disabled></p-button>
      </ng-template>
      <p-button label="Voltar" icon="pi pi-arrow-left" severity="secondary" (onClick)="cancel()" class="cancel-button" size="large"></p-button>
    </div>
  </div>
</div>
