<div class="page-container">
  <!-- Main Content -->
  <div class="content">
    <!-- First Card: Saldo em Contas -->
    <div class="header-container">
      <h2 class="card-title">Saldo em contas</h2>
      <div class="user-profile" (click)="navigateToProfile()">
        <img src="../../assets/sushimares.jpeg" alt="User Profile" class="profile-picture" />
      </div>
    </div>
    <div class="card flex justify-content-center">
      <p-card [style]="{ width: '360px'}">
        <div class="flex flex-column align-items-center">
          <p-dropdown [options]="months" [(ngModel)]="selectedMonth" (onChange)="onMonthChange($event)" placeholder="Mês" [style]="{ border: 'none', textAlign: 'center', padding: '0' }" [panelStyle]="{ fontWeight: 'bold' }"></p-dropdown>
          <h1 style="margin: 10px;">{{ isBalanceHidden ? '****' : 'R$ ' + totalBalance }}</h1>
          <div class="flex justify-content-center" (click)="toggleBalanceVisibility()">
            <i class="pi" [ngClass]="{'pi-eye': isBalanceHidden, 'pi-eye-slash': !isBalanceHidden}" style="margin: 10px;"></i>
          </div>
        </div>
        <ng-template pTemplate="footer">
          <div class="flex justify-content-between mt-1">
            <div class="flex align-items-center">
              <i class="pi pi-arrow-circle-up green-icon" style="font-size: 2.5rem;"></i>
              <div class="ml-2" style="margin-top: 8px;">
                <p>Receitas</p>
                <p style="color: green;">R$ {{ monthlyIncome }}</p>
              </div>
            </div>
            <div class="flex align-items-center">
              <i class="pi pi-arrow-circle-down red-icon" style="font-size: 2.5rem;"></i>
              <div class="ml-2" style="margin-top: 8px;">
                <p>Despesas</p>
                <p style="color: red;">R$ {{ monthlyExpenses }}</p>
              </div>
            </div>
          </div>
        </ng-template>
      </p-card>
    </div>

    <!-- Second Card: Contas Bancárias -->
    <h2 class="card-title card-title-spaced">Contas Bancárias</h2>
    <div class="card flex justify-content-center mt-4">
      <p-card [style]="{ width: '360px' }">
        <div class="flex flex-column align-items-center">
          <div *ngFor="let account of bankAccounts; let i = index" class="bank-account">
            <div class="bank-account-info">
              <i [class]="account.icon" style="font-size: 2rem; margin-right: 10px;"></i>
              <p class="account-name">{{ account.name }}</p>
              <p class="account-balance">{{ account.balance | currency:'BRL' }}</p>
            </div>
            <div class="bank-account-actions">
              <button pButton icon="pi pi-pencil" class="edit-button" (click)="openEditAccountDialog(account, i)"></button>
              <button pButton icon="pi pi-trash" class="remove-button" (click)="removeAccount(i)"></button>
            </div>
          </div>
          <button *ngIf="bankAccounts.length < 5" pButton label="Adicionar Conta" icon="pi pi-plus" class="add-account-button" (click)="openAddAccountDialog()"></button>
        </div>
      </p-card>
    </div>

    <!-- Third Card: Métricas -->
    <h2 class="card-title card-title-spaced">Métricas</h2>
    <div class="card flex justify-content-center mt-4">
      <p-card [style]="{ width: '360px'}">
        <div class="flex flex-column align-items-center">
          <div class="flex justify-content-center align-items-center">
            <div style="width: 50%; display: flex; justify-content: center;">
              <p-chart type="doughnut" [data]="doughnutChartData" [options]="doughnutChartOptions" style="max-width: 150px;"></p-chart>
            </div>
            <div style="width: 50%; padding-left: 10px;">
              <div *ngFor="let item of expenses" class="flex align-items-center mb-3 ml-5">
                <div [style.background-color]="item.color" class="legend-color-box"></div>
                <div class="ml-4">
                  <p class="legend-text">{{ item.title }}</p>
                  <p class="legend-text">{{ item.value }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</div>

<!-- Modal for Adding Transaction -->
<p-dialog header="Adicionar Despesa/Receita" [modal]="true" [(visible)]="isTransactionDialogVisible" [style]="{ width: '25rem' }">
  <span class="p-text-secondary block mb-5">Insira as informações da transação.</span>
  <div class="flex align-items-center gap-3 mb-3">
    <label for="transactionType" class="font-semibold w-6rem">Tipo</label>
    <p-dropdown [options]="transactionTypeOptions" [(ngModel)]="dialogTransaction.type" placeholder="Selecione um tipo" class="flex-auto"></p-dropdown>
  </div>
  <div class="flex align-items-center gap-3 mb-3">
    <label for="description" class="font-semibold w-6rem">Descrição</label>
    <input pInputText id="description" [(ngModel)]="dialogTransaction.description" class="flex-auto" autocomplete="off" />
  </div>
  <div class="flex align-items-center gap-3 mb-3">
    <label for="category" class="font-semibold w-6rem">Categoria</label>
    <p-dropdown [options]="categoryOptions" [(ngModel)]="dialogTransaction.category" placeholder="Selecione uma categoria" class="flex-auto"></p-dropdown>
  </div>
  <div class="flex align-items-center gap-3 mb-5">
    <label for="value" class="font-semibold w-6rem">Valor</label>
    <input pInputText id="value" type="number" [(ngModel)]="dialogTransaction.value" class="flex-auto" autocomplete="off" />
  </div>
  <div class="flex justify-content-end gap-2">
    <p-button label="Cancelar" severity="secondary" (onClick)="closeTransactionDialog()" />
    <p-button label="Salvar" (onClick)="saveTransaction()" />
  </div>
</p-dialog>

<!-- Button to open the transaction dialog -->
<p-button (onClick)="openTransactionDialog()" label="Adicionar Despesa/Receita" icon="pi pi-plus" />