.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.content {
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 20px; /* Ajuste este valor conforme necessário */
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}

.card-title {
  text-align: left;
  font-size: 1.5rem;
  margin-left: 20px;
  font-weight: 700; /* Padronização do font-weight */
}

.card-title-spaced {
  margin-top: 40px; /* Adicione um maior espaçamento entre o título e o card acima */
  font-weight: 700; /* Padronização do font-weight */
}

.user-profile {
  /* Nada aqui para manter a posição relativa ao fluxo da página */
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

::ng-deep .p-card-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

::ng-deep .p-card-footer {
  padding-top: 0 !important;
}

::ng-deep p {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  font-weight: 700; /* Padronização do font-weight */
}

::ng-deep .p-dropdown-label {
  padding-right: 0 !important;
  text-align: center;
  font-weight: 700; /* Padronização do font-weight */
}

.hidden {
  visibility: hidden;
}

.legend-color-box {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.legend-text {
  font-size: 0.8rem;
  font-weight: 700; /* Padronização do font-weight */
}

.bank-account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.bank-account-info {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.account-name {
  flex-grow: 1;
  text-align: left;
  font-weight: 700; /* Padronização do font-weight */
}

.account-balance {
  text-align: center;
  flex-grow: 1;
  font-weight: 700; /* Padronização do font-weight */
}

.bank-account-actions {
  display: flex;
  align-items: center;
}

.edit-button, .remove-button {
  background: transparent;
  border: none;
  color: #000;
  cursor: pointer;
  font-weight: 700; /* Padronização do font-weight */
}

.edit-button:hover, .remove-button:hover {
  color: #ff4d4d;
}

.add-account-button {
  margin-top: 10px;
  font-weight: 700; /* Padronização do font-weight */
}

/* Estilos adicionais para personalização */
.p-dialog .p-field {
  margin-bottom: 1rem;
  font-weight: 700; /* Padronização do font-weight */
}

.p-dialog .p-footer .p-button {
  min-width: 100px;
  font-weight: 700; /* Padronização do font-weight */
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust this value for more or less spacing */
  font-weight: 700; /* Padronização do font-weight */
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-field {
  display: flex;
  flex-direction: column;
}

.modal-field label {
  margin-bottom: 0.5rem;
  font-weight: 700; /* Padronização do font-weight */
}

.modal-field input, .modal-field p-dropdown {
  width: 100%;
  max-width: 100%; /* Ensure inputs are responsive */
  font-weight: 700; /* Padronização do font-weight */
}

.no-metrics-message {
  font-size: 1.5rem;
  color: #777;
  text-align: center;
  margin-top: 20px;
  font-weight: 700; /* Padronização do font-weight */
}

@media (max-width: 600px) {
  .p-dialog {
    width: 90% !important;
  }
}
