.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.content {
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 20px; /* Ajuste este valor conforme necessário */
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}

.card-title {
  text-align: left;
  font-size: 1.5rem;
  margin-left: 20px;
}

.card-title-spaced {
  margin-top: 40px; /* Adicione um maior espaçamento entre o título e o card acima */
}

.user-profile {
  /* Nada aqui para manter a posição relativa ao fluxo da página */
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

::ng-deep .p-card-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

::ng-deep .p-card-footer {
  padding-top: 0 !important;
}

::ng-deep p {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

::ng-deep .p-dropdown-label {
  padding-right: 0 !important;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.legend-color-box {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.legend-text {
  font-size: 0.8rem;
}

.bank-account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.bank-account-info {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.account-name {
  flex-grow: 1;
  text-align: left;
}

.account-balance {
  text-align: center;
  flex-grow: 1;
}

.bank-account-actions {
  display: flex;
  align-items: center;
}

.edit-button, .remove-button {
  background: transparent;
  border: none;
  color: #000;
  cursor: pointer;
  margin-left: 5px;
}

.edit-button:hover, .remove-button:hover {
  color: #ff4d4d;
}

.add-account-button {
  margin-top: 10px;
}